@font-face {
  font-family: "Montserrat Black";
  src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
  url('../fonts/Montserrat-Black.woff2.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Medium";
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
  url('../fonts/Montserrat-Medium.woff.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway - Extra Bold";
  src: url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
  url('../fonts/Raleway-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat SemiBold";
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
  url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
  url('../fonts/Raleway-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url('../fonts/ProximaNovaBold.woff2') format('woff2'),
  url('../fonts/ProximaNovaBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}